In [1]:
import pandas as pd
import itertools

C:\Users\lucasinglese\AppData\Roaming\Python\Python39\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\lucasinglese\AppData\Roaming\Python\Python39\site-packages\numpy\.libs\libopenblas.JPIJNSWNNAN3CE6LLI5FWSPHUT2VXMTH.gfortran-win_amd64.dll
C:\Users\lucasinglese\AppData\Roaming\Python\Python39\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [14]:
parameters_range = {
    "tp": [0.0035, 0.005, 0.0075, 0.01, 0.0135],
    "sl": [-0.0035, -0.005, -0.0075, -0.01, -0.0135],
}

fixed_parameters = {
    "fast_sma": 60,
    "slow_sma": 120,
    "rsi": 21,
    "cost": 0.0001,
    "leverage": 5
}

In [9]:
# Create a list of dictionaries with all the possible combination (ONLY with variable parameters)
keys = list(parameters_range.keys())
keys

['tp', 'sl']

In [10]:
combinations = list(itertools.product(*[parameters_range[key] for key in keys]))
combinations

[(0.0035, -0.0035),
 (0.0035, -0.005),
 (0.0035, -0.0075),
 (0.0035, -0.01),
 (0.0035, -0.0135),
 (0.005, -0.0035),
 (0.005, -0.005),
 (0.005, -0.0075),
 (0.005, -0.01),
 (0.005, -0.0135),
 (0.0075, -0.0035),
 (0.0075, -0.005),
 (0.0075, -0.0075),
 (0.0075, -0.01),
 (0.0075, -0.0135),
 (0.01, -0.0035),
 (0.01, -0.005),
 (0.01, -0.0075),
 (0.01, -0.01),
 (0.01, -0.0135),
 (0.0135, -0.0035),
 (0.0135, -0.005),
 (0.0135, -0.0075),
 (0.0135, -0.01),
 (0.0135, -0.0135)]

In [18]:
dict(zip(['tp', 'sl'], ((0.0035, -0.0035))))

{'tp': 0.0035, 'sl': -0.0035}

In [12]:
dictionaries = [dict(zip(keys, combination)) for combination in combinations]
dictionaries

[{'tp': 0.0035, 'sl': -0.0035},
 {'tp': 0.0035, 'sl': -0.005},
 {'tp': 0.0035, 'sl': -0.0075},
 {'tp': 0.0035, 'sl': -0.01},
 {'tp': 0.0035, 'sl': -0.0135},
 {'tp': 0.005, 'sl': -0.0035},
 {'tp': 0.005, 'sl': -0.005},
 {'tp': 0.005, 'sl': -0.0075},
 {'tp': 0.005, 'sl': -0.01},
 {'tp': 0.005, 'sl': -0.0135},
 {'tp': 0.0075, 'sl': -0.0035},
 {'tp': 0.0075, 'sl': -0.005},
 {'tp': 0.0075, 'sl': -0.0075},
 {'tp': 0.0075, 'sl': -0.01},
 {'tp': 0.0075, 'sl': -0.0135},
 {'tp': 0.01, 'sl': -0.0035},
 {'tp': 0.01, 'sl': -0.005},
 {'tp': 0.01, 'sl': -0.0075},
 {'tp': 0.01, 'sl': -0.01},
 {'tp': 0.01, 'sl': -0.0135},
 {'tp': 0.0135, 'sl': -0.0035},
 {'tp': 0.0135, 'sl': -0.005},
 {'tp': 0.0135, 'sl': -0.0075},
 {'tp': 0.0135, 'sl': -0.01},
 {'tp': 0.0135, 'sl': -0.0135}]

In [19]:
# We add the fixed parameters on each dictionary
for dictionary in dictionaries:
    dictionary.update(fixed_parameters)
    
dictionaries

[{'tp': 0.0035,
  'sl': -0.0035,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0035,
  'sl': -0.005,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0035,
  'sl': -0.0075,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0035,
  'sl': -0.01,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0035,
  'sl': -0.0135,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.005,
  'sl': -0.0035,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.005,
  'sl': -0.005,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.005,
  'sl': -0.0075,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.005,
  'sl': -0.01,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.005,
  'sl': -0.0135,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0075,
  'sl': -0.0035,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0075,
  'sl': -0.005,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0075,
  'sl': -0.0075,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0075,
  'sl': -0.01,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0075,
  'sl': -0.0135,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.01,
  'sl': -0.0035,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.01,
  'sl': -0.005,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.01,
  'sl': -0.0075,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.01,
  'sl': -0.01,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.01,
  'sl': -0.0135,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0135,
  'sl': -0.0035,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0135,
  'sl': -0.005,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0135,
  'sl': -0.0075,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0135,
  'sl': -0.01,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5},
 {'tp': 0.0135,
  'sl': -0.0135,
  'fast_sma': 60,
  'slow_sma': 120,
  'rsi': 21,
  'cost': 0.0001,
  'leverage': 5}]

In [20]:
df = pd.read_csv("../Data/FixTimeBars/AUDUSD_4H_Admiral_READY.csv", index_col="time", parse_dates=True)
df

,open,high,low,close,tick_volume,spread,real_volume,low_time,high_time
time,,,,,,,,,
2015-02-06 00:00:00,0.77970,0.78590,0.77933,0.78280,18061,4,21357500000,2015-02-06 00:30:00,2015-02-06 02:30:00
2015-02-06 04:00:00,0.78276,0.78433,0.78117,0.78401,12310,4,14275000000,2015-02-06 04:30:00,2015-02-06 07:30:00
2015-02-06 08:00:00,0.78400,0.78428,0.78185,0.78374,18258,4,19015000000,2015-02-06 10:00:00,2015-02-06 08:00:00
2015-02-06 12:00:00,0.78374,0.78760,0.77793,0.78295,30785,4,32049500000,2015-02-06 15:30:00,2015-02-06 14:30:00
2015-02-06 16:00:00,0.78295,0.78322,0.77851,0.77940,37224,4,41075000000,2015-02-06 16:00:00,2015-02-06 17:00:00
...,...,...,...,...,...,...,...,...,...
2023-02-22 12:00:00,0.68211,0.68477,0.68149,0.68304,16249,4,0,2023-02-22 12:00:00,2023-02-22 14:30:00
2023-02-22 16:00:00,0.68304,0.68378,0.68085,0.68225,24241,4,0,2023-02-22 17:30:00,2023-02-22 16:30:00
2023-02-22 20:00:00,0.68224,0.68319,0.67946,0.68049,18562,4,0,2023-02-22 21:30:00,2023-02-22 21:00:00
2023-02-23 00:00:00,0.68040,0.68340,0.67968,0.68324,7734,4,0,2023-02-23 00:00:00,2023-02-23 03:30:00
2023-02-23 04:00:00,0.68322,0.68419,0.68188,0.68231,9418,4,0,2023-02-23 07:30:00,2023-02-23 05:00:00

In [46]:
length_train_set = 5000
pct_train_set = 0.80
train_samples = []
test_samples = []
data = df
anchored = False

# Compute the length of the test set
length_test = int(length_train_set / pct_train_set - length_train_set)

# Initialize size parameters
start = 0
# We don't initialize the end with length_train+length_test because we add it in the loop
end = length_train_set

# We split the data until we can't make more than 2 sub-samples
while (len(data) - end) > 2 * length_test:
    end += length_test

    # If we are at the last sample we take the whole rest to not create a tiny last sample
    if (len(data) - end) < 2 * length_test:
        end = len(data)

    # Fill the samples list depending on if there are anchored or not
    if anchored:
        # We store the train and test set in 2 list to make future computations easier
        train_samples.append(data.iloc[:end - length_test,:])
        test_samples.append(data.iloc[end - length_test: end, :])
    else:
        # We store the train and test set in 2 list to make future computations easier
        train_samples.append(data.iloc[start:end - length_test, :])
        test_samples.append(data.iloc[end - length_test: end, :])

    start += length_test

In [47]:
for train, test in zip(train_samples, test_samples):
    print("TRAIN:", train.index[0], train.index[-1], "\tTEST", test.index[0], test.index[-1])

TRAIN: 2015-02-06 00:00:00 2018-04-26 12:00:00 	TEST 2018-04-26 16:00:00 2019-02-14 20:00:00
TRAIN: 2015-11-25 08:00:00 2019-02-14 20:00:00 	TEST 2019-02-15 00:00:00 2019-12-04 04:00:00
TRAIN: 2016-09-14 16:00:00 2019-12-04 04:00:00 	TEST 2019-12-04 08:00:00 2020-09-23 12:00:00
TRAIN: 2017-07-06 08:00:00 2020-09-23 12:00:00 	TEST 2020-09-23 16:00:00 2021-07-14 20:00:00
TRAIN: 2018-04-26 16:00:00 2022-05-05 20:00:00 	TEST 2022-05-06 00:00:00 2023-02-23 04:00:00

In [50]:
test_samples[0]

,open,high,low,close,tick_volume,spread,real_volume,low_time,high_time
time,,,,,,,,,
2018-04-26 16:00:00,0.75776,0.75882,0.75463,0.75616,28105,14,0,2018-04-26 18:30:00,2018-04-26 16:30:00
2018-04-26 20:00:00,0.75614,0.75656,0.75466,0.75519,10212,14,0,2018-04-26 22:30:00,2018-04-26 20:00:00
2018-04-27 00:00:00,0.75517,0.75578,0.75460,0.75550,6670,14,0,2018-04-27 03:30:00,2018-04-27 01:30:00
2018-04-27 04:00:00,0.75549,0.75583,0.75378,0.75507,10556,14,0,2018-04-27 04:30:00,2018-04-27 06:30:00
2018-04-27 08:00:00,0.75506,0.75506,0.75313,0.75467,17456,14,0,2018-04-27 10:00:00,2018-04-27 08:00:00
...,...,...,...,...,...,...,...,...,...
2019-02-14 04:00:00,0.71034,0.71237,0.70962,0.71215,11975,7,0,2019-02-14 05:00:00,2019-02-14 07:30:00
2019-02-14 08:00:00,0.71215,0.71312,0.71004,0.71018,16138,7,0,2019-02-14 11:00:00,2019-02-14 09:00:00
2019-02-14 12:00:00,0.71018,0.71215,0.71003,0.71113,12430,7,0,2019-02-14 12:30:00,2019-02-14 15:30:00
2019-02-14 16:00:00,0.71113,0.71122,0.70712,0.71032,16584,7,0,2019-02-14 17:30:00,2019-02-14 16:00:00
2019-02-14 20:00:00,0.71032,0.71076,0.70985,0.71044,10624,7,0,2019-02-14 22:30:00,2019-02-14 21:30:00

In [72]:
class Test:
    def __init__(self, a):
        self.a = a
        
    def test_function(self):
        print(isinstance(self.a, (float,int)))

test = Test(2.9)
test.test_function()

True

In [66]:
b

float